@charset "utf-8";

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, 
dd, p, blockquote, pre, form, fieldset, table, th, td, input, table, textarea {
    margin: 0;
    padding: 0;
}
html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	color: #FFF;
	background-color: #dedede;
	font-size: 14px;
	font-family: Arial,'Microsoft YaHei'!important;
	overflow-x: hidden;
}
ol,ul{
    list-style:none;
}
a{
    text-decoration: none;
    color: #FFF;
    -webkit-tap-highlight-color:transparent;
}
a, button, input, textarea {
    outline: 0;
}
input[type="text"],input[type="password"]{
    width: 96%;
    padding: 0 2%;
    display: inline-block;
    outline: 0;
    -webkit-appearance: none;
    background: rgba(45,45,45,.15);
    border: 1px solid rgba(255,255,255,.15);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    height: 38px;
    line-height: 38px;
}
textarea{
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    background-color: transparent;
    resize: none;
}
::-webkit-input-placeholder {
color: #dedede; 
} 
:-moz-placeholder {
color: #dedede; 
} 
::-moz-placeholder {
color: #dedede; 
} 
:-ms-input-placeholder {
color: #dedede; 
} 
.clearfix(){
	zoom: 1;
	&:after{
	    content: "";
	    display: block;
	    clear: both;
	}
}
.btn(){
	width: 100%;
	height: 30px;
    line-height: 30px;
	display: inline-block;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    background-color: #3CAF36;
    &:hover{
    	background-color: #2C9B29;
    }
}
.mask(){
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    top: 0;
    left: 0;
    z-index: 99;
}
.alert(@w,@h){
    position: fixed;
    width: @w - 40;
    height: @h - 40;
    padding: 20px;
    left: 50%;
    top: 50%;
    margin-left: -@w / 2;
    margin-top: -@h / 2;
    z-index: 199;
    color: #444;
}
.icon(@x,@y){
    background: url(../assets/icon.png) no-repeat;
    background-position: @x @y;
}
.flexbox(){
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex1(){
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}