<meta charset="UTF-8">
<title><%= title %></title>
<script type="text/javascript" src="/javascripts/lib/jquery.js"></script>
<script type="text/javascript" src="/javascripts/lib/common.js"></script>
<script src="/packages/bootstrap/dist/js/bootstrap.min.js"></script>
<link href="/packages/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/common.css" rel="stylesheet">
