@charset "utf-8";

.register-form{
	width: 540px;
	margin: 50px auto;
}
.register-title{
	margin-bottom: 60px;
}
.form-group input[type="radio"]{
	margin-left: 15px;
	margin-right: 5px;
	vertical-align:top;
}
.register-submit{
	display: block;
	width: 300px;
	margin: 0 auto;
	margin-top: 40px;
}